<div class="container" id="container" #container>
  <div class="form-container sign-up-container">
    <app-signup></app-signup>
  </div>
  <div class="form-container sign-in-container">
    <app-signin></app-signin>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>
          To keep connected with us please login with your personal info
        </p>
        <button class="ghost" id="signIn" (click)="onSignIn()">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp" (click)="onSignUp()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
