<form action="#">
  <h1>Create Account</h1>
  <input type="text" placeholder="Name" />
  <input type="email" placeholder="Email" />
  <input type="number" placeholder="Age" />
  <input type="number" placeholder="Mobile Number" />
  <input type="password" placeholder="Password" />
  <button>Sign Up</button>
</form>
